body {
}

div#input,
div#dimensions-wrapper,
div#hodge-wrapper {
  border: 1px solid gray;
  width: 500px;
  margin: .3em;
}

div#wrapper,
div#hodge-wrapper {
  float: left;
}

div#hodge-wrapper {
  width: 650px;
}

h2 {
  padding: 0 0 0 .5em;
  margin: .5em 0 0 0;
}

p {
  margin: .5em .5em 0 .5em;
}

form {
  padding: .5em .5em 0 .5em;
  width: 350px;
}

label {
  float: left;
  width: 150px;
  display: block;
}

fieldset {
  text-align: center;
}

fieldset label {
  width: 70px;
}

input {
  display: block;
  float: left;
}

output {
  margin-left: 1em;
}

fieldset output {
  margin-left: -1em;
}

table {
  margin: 0 auto;
}

td, th {
  padding: .2em .6em;
  text-align: center;
}

div#input form {
  margin-bottom: .5em;
}
